body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p{
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

img {
    display: block;
    
}

/*----------------HEADER-------------------*/

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header .container{
    display: flex;
    align-items: center;
}
.header {   
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
 
}

.accent {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;     
}

.header-menu-item {
   
}

.header-menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.header-menu-link.current{
    position: relative;
}

.header-menu-link.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.header-menu-link:hover, .header-menu-link:focus, .header-menu-link.current{
    color: #404bbf;
}

.header-adress {
    font-style: normal;
    margin-left: auto;
  
}

.header-adress-menu {
    display: flex;
    gap: 40px;
}


.header-adress-item {

    margin-left: 0 auto;  
}

.header-adress-item:last-child{
    margin-right: 0;
}

.header-adress-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-adress-link:hover, 
.header-adress-link:focus{
    color: #404bbf;
}

/*----------------HEADER---------------------*/


/*---------------BUSINESS------------------------*/

.business {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px; 
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.business-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.bussiness-button{
    display: flex;
}

.business-btn {
     background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    margin-bottom: 188px;
    text-align: center;
    display: flex;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-btn:hover, .business-btn:focus{
    background-color: #404BBF;
}
 /*----------------BUSINESS----------*/


 /*----------------INFORMATION-------*/   

  .information {
    padding: 120px 0;
 
  }
  .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

  .information-menu-list {
    
  
    display: flex;
    gap: 24px;
  }

  .information-menu-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .information-container-icon{
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    
  }

  .information-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .information-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*----------------INFORMATION-------*/


/*--------------TEAM---------------*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-menu-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
}

.team-menu-item {
   
   background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container{
    padding: 32px 0;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.team-item-svg{


    fill: #f4f4fd;
    
}
.team-icon-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.team-list-icon{
    height: 40px;
    width: 40px;

}
.item-svg{
   
}
.team-icon-svg{
 
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
        width: 100%;
        height: 100%;
    background:  #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg:hover {
    background-color: #404bbf;
}

.team-icon-svg:focus {
    background-color: #404bbf;
}


/*--------------TEAM---------------*/
/*--------------PORTFOLIO---------------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;          
    text-align: center;
    color: #2e2f42;
    

    margin-bottom: 72px;
    
}

.portfolio-menu-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-basis: calc((100% - 120px) / 6);
    flex-wrap: wrap;
    
}

.portfolio-menu-item {
    background-color: #ffffff;
    width: calc((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  
       
}


.portfolio-image {
}

.portfolio-tumba{
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-text{
    position: absolute;
    top: 0;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu-item:hover .portfolio-item-text{
    transform: translateY(0);
    
}
.portfolio-menu-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
 
}

.portfolio-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*--------------PORTFOLIO---------------*/

/*--------------FOOTER---------------*/

.footer {
    background: #2e2f42;  
    padding: 100px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.accent-two {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-container-link{
    margin-right: 120px;
}

.container-link{
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}
.footer-text-social{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
 .footer-item-svg {
    fill: #f4f4fd;

} 

.footer-icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.footer-list-icon{
    gap: 16px;
}

.footer-icon-svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg:hover{
background-color: #31d0aa
}
.footer-icon-svg:focus{
background-color: #31d0aa
}

.footer-form-sub{
   margin-left: auto;
}

.footer-form-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form-subscibe{
    display: flex;
    gap: 24px;
    
}

/* .footer-form-label{
    display: flex;
    gap: 24px;
} */
.footer-form-subscribe-btn{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}
.footer-form-subscribe-btn:hover, .footer-form-subscribe-btn:focus{ 
       background-color: #404BBF;
}
.footer-form-input{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 16px 8px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}
.footer-form-subscribe-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-btn-icon{
    fill: #fff;
    margin-left: 16px;

}

/*--------------FOOTER---------------*/
/*-------------- MODAL---------------*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 408px;
    min-height: 584px;
    border-radius: 4px;

    transform: translate(-50%, -50%);
       
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;

}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-field{
    margin-bottom: 8px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0; 
    align-items: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
}
.modal-btn-icon{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
}
.modal-close-btn:hover .modal-btn-icon{
    
    fill: #ffffff;
}
.modal-close-btn:focus .modal-btn-icon{
    
    fill: #ffffff;
}



.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4d5ae5;;

}

.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
}

.modal-label{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}
.modal-icon{
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-field{
    margin-bottom: 16px;
}
.modal-input-wrap{
    
    position: relative;
}

.send-btn{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover {    
    background-color: #404BBF;
}
.send-btn:focus{
    background-color: #404BBF;
}

.modal-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding-left: 38px;
    outline: transparent;
    padding: 8px 16px;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-field{
    margin-bottom: 24px;
}

.modal-textarea:focus{
border-color: #4D5AE5;
}

.accent{
    margin-bottom: 8px;
}


.modal-check-text{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
  
    align-items: center;
    line-height: 1.17;
}

.modal-privacy-policy{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.modal-checkbox{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    
    
    
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    
    
}

.modal-checkbox-icon{
   
    
}


.span-modal{

    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    
    
}
.modal-check:checked + .modal-check-text span{
    background-color: #404bbf; 
    fill: #F4F4FD;
    border: none;
}

span {
    
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}