.hidden{
    display: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p{
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}


/*---------common---------*/

.container{
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }

}
    
@media screen and (min-width: 1158px){
    .container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*---------header---------*/

.header {   
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list{
    display: none;
}

.header-adress{
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo{
    padding: 16px 0;
    display: block;
}

.header-logo .accent {
    color: #2e2f42;
}
span.accent{
    margin-bottom: 0;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px){
   .burger-btn{
        display: none;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

   .header-menu-list {
        display: flex;
        gap: 40px;
        align-items: center; 
    }

    .header-logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-menu-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .header-menu-link.current{
        position: relative;
    }
    
    .header-menu-link.current::after{
        content: '';
        position: absolute;
        left: 0;

        bottom: -1px;
        width: 100%;
        height: 4px;

        background-color: #404bbf;
        border-radius: 2px;   
    }

    .header-menu-link:hover, .header-menu-link:focus, .header-menu-link.current{
        color: #404bbf;
    }

   .header-adress {
        font-style: normal;
        display: block;
    }

    .header-adress-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-adress-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-adress-link:hover, .header-adress-link:focus{
        color: #404bbf;
}

    

}

@media screen and (min-width: 1158px){
    .header-logo{
        margin-right: 76px;
    }

    .header-adress-menu{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .header-adress-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


/*-------mobile menu--------*/

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    opacity: 1;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
}

.mobile-close-btn{
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    
    display: flex;
    align-items: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    
}

.mobile-menu-icon{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-link.accent{
    color: #404bbf;
}


.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}
.mobile-menu-container{
   
}
.mobile-menu-address {
    margin-bottom: 48px;
}
.mobile-adress-list {
}
.mobile-adress-item {
}
.mobile-adress-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-adress-item:not(:last-child){
    margin-bottom: 24px;
}
.mobile-adress-link.accent{
    color: #404bbf;
}

.mob-item-svg {
    fill: #f4f4fd;

} 

.mob-icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob-list-icon{
    gap: 40px;
}

.mob-icon-svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}







@media screen and(min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*---------------BUSINESS------------------------*/


.business {
    background: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px; 
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .business{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mb-2x.jpg);
    }

}

.business-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
    max-width: 216px;
}

.bussiness-button{
    display: flex;
}

.business-btn {
    background: #4d5ae5;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #fff;
   min-width: 169px;
   height: 56px;
   margin-bottom: 72px;
   text-align: center;
   display: flex;
   align-items: center;
   display: block;
   margin: 0 auto;
   border: none;
   border-radius: 4px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-btn:hover, .business-btn:focus{
    background-color: #404BBF;
}

@media screen and (min-width:768px) {
    .business{
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
    }
    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
        .business{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }


    .business-title{
        max-width: 496px;
        margin-bottom: 56px;
        font-size: 56px;
        line-height: 1.07;
    }

}



@media screen and (min-width: 1158px){
    .business{
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
        .business{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }

    .business-title{
    margin-bottom: 48px;
    }
}


/*----------------INFORMATION-------*/



.information {
    padding: 96px 0;
    
}

.information-container-icon{
    display: none;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.information-menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.information-subtitles {
    font-weight: 700;
    font-size: 36px;
    
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .information-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px){
    
    .information-menu-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .information-menu-item {
        flex-basis: calc((100% - 24px) / 2);        
    }

    .information-subtitles {
        text-align: left;
      }
}

@media screen and (min-width: 1158px){

    .information{
        padding: 120px 0;
    }

    .information-menu-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .information-menu-item {
        flex-basis: calc((100% - 72px) / 4);
    }
    
    .information-container-icon{
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .information-subtitles {
        font-weight: 500;
        font-size: 20px;
       line-height: 1.2;
        
      }

      .information-text {
        font-weight: 400;
        font-size: 16px;
        
    }
}


/*--------------TEAM---------------*/

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;

}


.team-menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 72px;
}
.team-menu-item {
    background-color: #ffffff;
     border-radius: 0px 0px 4px 4px;
     border-radius: 0 0 4px 4px;
         box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
        }


.team-container{
    padding: 32px 0;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-svg{
    fill: #f4f4fd;   
}

.team-icon-menu{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-icon{
    height: 40px;
    width: 40px;
}

.team-icon-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background:  #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-svg:hover {
    background-color: #404bbf;
}

.team-icon-svg:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
    .team .container{
      max-width: 584px;
    } 
    
    .team-menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px; 
     
    }
    .team-menu-item{
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px){
    .team .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .team{
        padding: 120px 0;
    }


    .team-menu-list {
        gap: 24px;
    }
    .team-menu-item{
        width: calc((100% - 72px) / 4);
    }   
}


/*--------------PORTFOLIO---------------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;          
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;   
}

.portfolio-menu-list{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-menu-item {
    background-color: #ffffff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-tumba{
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-text{
    position: absolute;
    top: 0;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:hover .portfolio-item-text{
    transform: translateY(0);
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px){

    .portfolio-menu-list {
        display: flex;
        column-gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
       
    }


    .portfolio-menu-item {
        background-color: #ffffff;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
        width: calc((100% - 24px) / 2);     
    }
    
   
}

@media screen and (min-width: 1158px){
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-menu-list {
        display: flex;
        column-gap: 24px;
        row-gap: 48px;
        
    }

    .portfolio-menu-item {
        background-color: #ffffff;
        width: calc((100% - 2 * 24px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);       
    }
    .portfolio-menu-list{
        box-shadow: none;
    }

    .portfolio-tumba{
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-item-text{
        position: absolute;
        top: 0;
        background: #4d5ae5;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-menu-item:hover .portfolio-item-text{
    transform: translateY(0);
    
}
.portfolio-menu-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
 
}

.portfolio-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
}

/*--------------FOOTER---------------*/


.footer {
    background: #2e2f42;  
    padding: 96px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

.accent-two {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.container-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;

}

.footer-text-social{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
 .footer-item-svg {
    fill: #f4f4fd;

} 

.footer-icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-list-icon{
    gap: 16px;
}

.footer-icon-svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-svg:hover{
    background-color: #31d0aa
    }
    .footer-icon-svg:focus{
    background-color: #31d0aa
    }
   
    
    .footer-form-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .footer-form-subscibe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    .footer-form-subscribe-btn:hover, .footer-form-subscribe-btn:focus{ 
           background-color: #404BBF;
    }
    .footer-form-input{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid #fff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        padding: 16px 8px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;
    }

    
    .footer-form-subscribe-btn{
        display: flex;
        flex-direction: row;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border: none;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscribe-form-btn-icon{
        fill: #fff;
        margin-left: 16px;
    }

    @media screen and (min-width: 768px){

        
        .container-link{
            justify-content: left;
        }
        
        .footer-container-link{
            max-width: 264px;
           margin-right: 24px;
           margin-bottom: 72px;
        }

        .footer-text-social{
            text-align: left;
        }

        .footer-container-social{
            max-width: 208px;
            margin-bottom: 0;
        }
        
        .footer-form-text{
            text-align: left;  
        }
        
        .footer-form-input{
            width: 264px;
        }
        .footer-link{
            justify-content: start;
            text-align: left;

        }
        .footer-icon-menu{
            margin-bottom: 0;
        }
        .footer-form-sub{
            max-width: 453px;
        }
        .footer-text{
        margin-bottom: 0;
    }
    }

    @media screen and (min-width: 1158px){
        .footer{
            padding: 100px 0;
        }
        .footer-container-link{
            margin-right: 120px;
        }
      
         .footer-form-label{
        display: flex;
        gap: 24px;
    }
    
    .footer-container-social{
     
        margin-right: 80px;
    }
    
    .container-link{
        gap: 0;
    }
    
}





 /*--------------modal-----------*/
 
 .backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 288px;
    min-height: 623px;
    border-radius: 4px;

    transform: translate(-50%, -50%);
       
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;

}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-field{
    margin-bottom: 8px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0; 
    align-items: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
}
.modal-btn-icon{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
}
.modal-close-btn:hover .modal-btn-icon{
    
    fill: #ffffff;
}
.modal-close-btn:focus .modal-btn-icon{
    
    fill: #ffffff;
}



.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4d5ae5;;

}

.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
}

.modal-label{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}
.modal-icon{
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-field{
    margin-bottom: 16px;
}
.modal-input-wrap{
    
    position: relative;
}

.send-btn{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover {    
    background-color: #404BBF;
}
.send-btn:focus{
    background-color: #404BBF;
}

.modal-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding-left: 38px;
    outline: transparent;
    padding: 8px 16px;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-field{
    margin-bottom: 24px;
}

.modal-textarea:focus{
border-color: #4D5AE5;
}

.accent{
    margin-bottom: 8px;
}


.modal-check-text{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
  
    align-items: center;
    line-height: 1.17;
    display: flex;
    align-items: center;
}

.modal-privacy-policy{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.modal-checkbox{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}
.span-text-policity{
    display: flex;
    flex-direction: column;
}

.span-modal{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.modal-check:checked + .modal-check-text span{
    background-color: #404bbf; 
    fill: #F4F4FD;
    border: none;
}

span {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px){
    .modal{
        width: 408px;
        min-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }
}